<div>

<h1>Producto Creado</h1>

<p>Producto creado con exito.</p>
<p>Nombre: {{title}}</p>
<p>Descripción: {{description}}</p>
<p>Precio: {{price}}</p>
<p>Stock: {{stock}}</p>
<p>Imagen: {{image}}</p>

</div>
