<nav>
    <div>
        <p>Ecommerce Delicioso SexShop</p>
    </div>
    <ul>
        <li><a href="/inicio">Inicio</a></li>
        <li><a href="/api/products">Productos</a></li>
        <li><a href="/api/users/profile">Usuario</a></li>
        <li><a href="/api/users/logout">Cerrar Sesion</a></li>
    </ul>
</nav>

<div>
  <p>Nombre: {{user.name}}</p>
  <p>Apellido: {{user.surname}}</p>
  <p>Role: {{user.role}}</p>
  <p>Edad: {{user.age}}</p>
  <p>Email: {{user.email}}</p>
  <p>Password: {{user.password}}</p>
  <p>Carrito: {{user.cart}}</p>

</div>
