<nav>
  <div>
    <p>Ecommerce Delicioso SexShop</p>
  </div>
  <ul>
    {{#if user}}
    <li><a href="/inicio">Inicio</a></li>
    <li><a href="/api/products">Productos</a></li>
    <li><a href="/api/users/profile">Usuario</a></li>
    <li><a href="/api/users/logout">Cerrar Sesion</a></li>
    <li><a href="/api/carts/{{cartId}}">Carrito</a></li>
    {{else}}
    <a href="/login" class="login">
      <p>Login</p>
    </a>
    {{/if}}
  </ul>
</nav>


<h1>Listado de Productos</h1>
<h2>Bienvenid@ {{user.name}} {{user.surname}}</h2>
{{#if isAuthorized}}
<p><a href="/addProducts" class="boton">Agregar otro producto</a></p>
<a href="/api/products/manageProducts" class="boton">Administrar Productos</a>
{{/if}}

<div>

  {{#each products}}
  <div>
    <h2>{{this.name}}</h2>
    <p>Descripcion: {{this.description}} </p>
    <p>Precio: ${{this.price}} </p>
    <p>Stock: {{this.stock}} </p>
    <img src={{this.thumbnail}} alt="" />

    <a href="/api/products/{{this._id}}" class="boton">
      <h3>Ver producto</h3>
    </a>
  </div>
  {{/each}}


</div>