<nav>
    <div>
        <p>Ecommerce Delicioso SexShop</p>
    </div>
    <ul>
        {{#if user}}
        <li><a href="/inicio">Inicio</a></li>
        <li><a href="/api/products">Productos</a></li>
        <li><a href="/api/users/profile">Usuario</a></li>
        <li><a href="/api/users/logout">Cerrar Sesion</a></li>
        <li><a href="/api/carts/{{cartId}}">Carrito</a></li>
        {{else}}
        <a href="/login" class="login">
            <p>Ingresar</p>
        </a>
        {{/if}}
    </ul>
</nav>
<div>Usurio Registrado</div>

<div>
    <div>
        <div>Nombre</div>
        <div>Email</div>
        <div>Ultima conexión</div>
        <div>Rol Actual</div>
        <div>Actualizar Rol</div>
        <div>Eliminar Usuario</div>
    </div>
    {{#each users}}
    <div>
        <div>{{name}}</div>
        <div>{{email}}</div>
        <div>{{role}}</div>
        <div>{{last_connection}}</div>
        <form action="/api/users/change-role/{{_id}}" method="POST">
            <select name="newRole">
                <option value="user" {{#if this.isUserRole}}selected{{/if}}>Usuario</option>
                <option value="admin" {{#if this.isAdminRole}}selected{{/if}}>Administrador</option>
                <option value="premium" {{#if this.isPremiumRole}}selected{{/if}}>Premium</option>
            </select>
            <button type="submit">Actualizar</button>
        </form>
        <form action="/api/users/delete" method="POST">
            <button type="submit">Eliminar Usuario</button>
        </form>
    </div>
    {{/each}}

</div>


<p>Solo Administradores</p>
<div>
    <a href="/addProducts" class="boton">Agregar Producto</a>
    <form action="/api/users/deleteOldUsers" method="POST">
        <button type="submit" class="boton">Eliminar usuario</button>
    </form>
</div>